@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

html {
  font-size: 62.5%;
}

body {
  background-image: url(../images/pattern-background-desktop.svg);
  background-color: $pale-blue;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 1.6rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  position: relative;
  max-width: 350px;
  height: 570px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 20px 5px rgb(175, 175, 177);
}

.illustration-hero {
  border-radius: 10px 10px 0px 0px;
  max-width: 350px;
}

.title {
  position: relative;
  top: 20px;
  font-weight: 900;
  text-align: center;
  font-size: 2.2rem;
  color: $dark-blue;
}

.description {
  position: relative;
  top: 20px;
  text-align: center;
  color: $desaturated-blue;
}

.plan-container {
  position: relative;
  top: 50px;
  left: 25px;
  background-color: $very-pale-blue;
  max-width: 300px;
  max-height: 90px;
  border-radius: 10px;
}

.music-icon {
  position: relative;
  top: 20px;
  left: 20px;
}

.plan-description {
  position: relative;
  left: 80px;
  top: -35px;
  color: $dark-blue;
  font-weight: 700;
}

.plan-cost {
  position: relative;
  left: 80px;
  top: -25px;
  color: $desaturated-blue;
}

.change-button {
  position: relative;
  left: 210px;
  top: -65px;
  border: none;
  background-color: transparent;
  color: $bright-blue;
  font-weight: 700;
  text-decoration: underline;
}

.change-button:hover {
  text-decoration: none;
  opacity: 0.7;
  transition: 1s;
  cursor: pointer;
}

.payment-button-container {
  position: relative;
  top: 70px;
}

.payment-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: $very-pale-blue;
  font-weight: 700;
  font-size: small;
  background-color: $bright-blue;
  box-shadow: 0px 11px 20px 5px rgb(190, 190, 192);
}

.payment-button:hover {
  opacity: 0.7;
  transition: 1s;
  cursor: pointer;
}

.cancel-button-container {
  position: relative;
  top: 90px;
}

.cancel-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  color: $desaturated-blue;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: small;
}

.cancel-button:hover {
  color: $dark-blue;
  transition: 1s;
  cursor: pointer;
}

.attribution {
  position: relative;
  top: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
